@media screen and (max-height: 660px), screen and (max-width: 1199px) {
  .header {
    min-height: 660px; }
    .header__wrap {
      position: relative;
      top: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      padding-top: 150px;
      padding-bottom: 90px; } }

@media screen and (max-width: 1199px) {
  .case {
    width: 950px; }
  .panel {
    padding-top: 10px;
    padding-bottom: 10px; }
    .panel__logo {
      padding-top: 17px;
      margin-right: 40px; }
    .panel__contacts {
      width: 215px;
      text-align: right; }
    .panel__phone, .panel__btn {
      display: block; }
    .panel__phone {
      margin-right: 0;
      margin-bottom: 3px; }
      .panel__phone .icon {
        margin-right: 10px; }
    .panel__nav {
      padding-top: 30px; }
    .panel__btn {
      margin-right: 0; }
  .header__wrap {
    padding-bottom: 50px; }
  .header__title {
    margin-bottom: 20px; }
  .header__text {
    margin-bottom: 40px; }
  .header__mouse {
    display: none; }
  .packs {
    padding-top: 25px;
    padding-bottom: 25px; }
    .packs__title {
      margin-bottom: 30px; }
    .packs__item {
      padding: 20px; }
    .packs__data {
      padding-left: 0;
      padding-right: 0; }
    .packs__subtitle, .packs__data, .packs__desc {
      margin-bottom: 15px; }
  .brand, .about {
    padding-top: 35px; }
    .brand__img, .brand__text, .about__img, .about__text {
      float: none;
      max-width: 100%; }
    .brand__img img, .about__img img {
      margin-left: auto;
      margin-right: auto; }
  .brand {
    padding-bottom: 25px; }
    .brand__text {
      padding-top: 14px; }
      .brand__text br {
        display: none; }
  .about__title {
    margin-bottom: 30px; }
  .about__item {
    padding-top: 30px;
    padding-bottom: 30px; }
  .reviews {
    padding-top: 100px; }
    .reviews__list {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 40px !important; }
    .reviews__item {
      padding: 0 15px 40px; }
    .reviews__wrap {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .logos {
    padding-bottom: 0px; }
    .logos__item {
      width: -webkit-calc(100% / 6);
      width: calc(100% / 6); }
  .questions {
    padding-top: 30px; }
  .partners__item {
    width: 25%; }
  .copy {
    margin-top: 10px; } }

@media screen and (max-width: 970px) {
  .case {
    width: 750px; }
  .panel {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px; }
    .panel__logo, .panel__nav, .panel__contacts {
      float: none;
      margin-left: auto;
      margin-right: auto; }
    .panel__logo {
      padding-top: 0; }
    .panel__nav {
      width: 200px;
      padding-top: 20px; }
      .panel__nav li {
        display: block;
        margin: 0 0 5px; }
    .panel__contacts {
      text-align: center; }
    .panel__btn {
      margin-right: auto;
      margin-top: 10px; }
  .header {
    min-height: 1px; }
    .header__wrap {
      padding-top: 30px;
      padding-bottom: 30px; }
    .header__title {
      font-size: 36px;
      line-height: normal;
      margin-bottom: 20px; }
    .header__text {
      font-size: 16px;
      line-height: normal;
      margin-bottom: 30px; }
    .header__btn {
      max-width: 230px; }
  .btn_big {
    font-size: 16px;
    line-height: 46px;
    height: 46px; }
  .title {
    font-size: 26px; }
  .flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .packs {
    padding-bottom: 5px; }
    .packs__subtitle {
      font-size: 20px; }
    .packs__list {
      margin-left: 0;
      margin-right: 0; }
      .packs__list li {
        font-size: 16px; }
    .packs__item {
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0; }
    .packs__price {
      margin-bottom: 10px; }
      .packs__price-new span {
        font-size: 30px; }
  .about {
    padding-bottom: 30px;
    margin-bottom: 0; }
    .about__list {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: 20px; }
    .about__item {
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px);
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px; }
  .reviews {
    padding-top: 25px;
    background-image: none; }
    .reviews__list {
      margin-bottom: 25px !important; } }

@media screen and (max-width: 767px) {
  .case {
    width: 100%; }
  .logos {
    padding-left: 0;
    padding-right: 0; }
    .logos__item {
      width: -webkit-calc(100% / 2);
      width: calc(100% / 2); }
  .questions {
    margin-bottom: 30px; }
    .questions__desc {
      margin-bottom: 15px;
      font-size: 16px; }
    .questions__input, .questions__btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 280px; }
    .questions__input {
      margin-bottom: 10px; }
    .questions__all {
      display: none; }
    .questions__elements {
      margin-bottom: 20px; }
  .partners__list {
    padding-left: 0;
    padding-right: 0; }
  .partners__item {
    width: 50%; }
  .copy {
    line-height: normal; }
    .copy p:last-of-type {
      margin-top: 15px; } }

@media screen and (max-width: 440px) {
  .about {
    padding-bottom: 30px;
    margin-bottom: 0; }
    .about__list {
      margin-left: 0;
      margin-right: 0; }
    .about__item {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
