/* Including styles files */
@import url(../../libs/slick-carousel/slick/slick.css);
@import url(../../libs/slick-carousel/slick/slick-theme.css);
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
.icon-mouse-scroll {
  background-image: url(../../img/sprite.png);
  background-position: -27px -11px;
  width: 6px;
  height: 13px; }

.icon-mouse {
  background-image: url(../../img/sprite.png);
  background-position: 0px -23px;
  width: 18px;
  height: 29px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -27px 0px;
  width: 11px;
  height: 11px; }

.icon-quote {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 27px;
  height: 23px; }

/* Including fonts */
@font-face {
  src: url("../../fonts/ProximaNova/ProximaNova-Light.ttf");
  font-family: 'ProximaNova';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/ProximaNova/ProximaNova-Regular.ttf");
  font-family: 'ProximaNova';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/ProximaNova/ProximaNova-Semibold.ttf");
  font-family: 'ProximaNova';
  font-weight: 600; }

@font-face {
  src: url("../../fonts/ProximaNova/ProximaNova-Bold.ttf");
  font-family: 'ProximaNova';
  font-weight: 700; }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "ProximaNova", sans-serif;
  color: #000;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    display: inline-block;
    font-size: 14px;
    list-style-type: none; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.input input, .btn, .slick-slide, .textarea textarea {
  outline: none; }

/* Grid */
.case {
  position: relative;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px; }
  .case_more {
    width: 1470px; }
  .case_fluid {
    width: 100%; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.row_line {
  text-align: center;
  font-size: 0; }

.col {
  min-height: 1px;
  float: left;
  display: block; }
  .col_line {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    min-height: 1px; }

/* Form elements */
.input input {
  display: block;
  font-size: 14px;
  font-family: "ProximaNova", sans-serif;
  background-color: #ffffff;
  width: 100%;
  height: 46px;
  padding: 0 28px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .input input::-webkit-input-placeholder {
    opacity: 1;
    color: #000; }
  .input input::-moz-placeholder {
    opacity: 1;
    color: #000; }
  .input input:-ms-input-placeholder {
    opacity: 1;
    color: #000; }
  .input input::placeholder {
    opacity: 1;
    color: #000; }

.textarea textarea {
  font-size: 14px;
  font-family: "ProximaNova", sans-serif;
  display: block;
  background: white;
  resize: none;
  border: 1px solid #f0f0f0;
  width: 100%; }
  .textarea textarea::-webkit-input-placeholder {
    color: #878686; }
  .textarea textarea::-moz-placeholder {
    color: #878686; }
  .textarea textarea:-ms-input-placeholder {
    color: #878686; }
  .textarea textarea::placeholder {
    color: #878686; }

.btn {
  position: relative;
  display: block;
  font-size: 14px;
  font-family: "ProximaNova", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 100%; }
  .btn_border-white {
    color: #fff;
    border: 1px solid #fff; }
    .btn_border-white:hover {
      border-color: #f10f15;
      background-color: #f10f15; }
  .btn_small {
    height: 40px;
    line-height: 40px; }
  .btn_normal {
    font-size: 16px;
    height: 46px;
    line-height: 46px; }
  .btn_big {
    font-size: 18px;
    line-height: 65px;
    height: 65px; }
  .btn_red {
    color: #fff;
    background: #f10f15; }
  .btn_black {
    color: #fff;
    background-color: #000000; }
  .btn_hover-white:hover {
    color: #000;
    background: #fff; }
  .btn_hover-black:hover {
    color: #fff;
    background-color: #000000; }
  .btn_hover-red:hover {
    color: #fff;
    background: #f10f15; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

/* Blocks */
.left {
  float: left; }

.right {
  float: right; }

.mid, .case {
  margin-left: auto;
  margin-right: auto; }

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.panel {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  border-bottom: 1px solid rgba(245, 245, 245, 0.2); }
  .panel a {
    color: #fff; }
  .panel__logo {
    margin-right: 40px; }
  .panel__nav {
    padding-top: 16px; }
  .panel__contacts {
    font-size: 0;
    width: 440px;
    text-align: right;
    padding-top: 5px; }
  .panel__phone, .panel__btn {
    display: inline-block;
    vertical-align: middle; }
  .panel__phone {
    margin-right: 30px; }
    .panel__phone .icon {
      margin-right: 20px; }
    .panel__phone a {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600; }
  .panel__btn {
    max-width: 180px;
    font-weight: 700; }

.logo {
  font-size: 0;
  width: 170px; }
  .logo__img, .logo__text {
    display: inline-block;
    vertical-align: middle; }
  .logo__img {
    margin-right: 22px; }
  .logo__text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    max-width: 110px;
    text-align: left; }
    .logo__text strong {
      font-weight: 700; }

.header {
  min-height: 100vh;
  color: #fff;
  background: url("../../img/bg/header.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative; }
  .header__wrap {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .header__desc {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase; }
  .header__title {
    font-size: 90px;
    line-height: 94px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .header__text {
    max-width: 750px;
    font-size: 20px;
    line-height: 25.5px;
    margin-bottom: 58px; }
  .header__btn {
    max-width: 270px; }
  .header__mouse {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .header__mouse:before {
      display: block;
      content: '';
      background-image: url(../../img/sprite.png);
      background-position: 0px -23px;
      width: 18px;
      height: 29px; }
    .header__mouse:after {
      display: block;
      content: '';
      position: absolute;
      width: 4px;
      height: 11px;
      top: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      border: 1px solid #fff;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-animation: scrollMove 1.5s infinite ease-in-out;
              animation: scrollMove 1.5s infinite ease-in-out; }

.nav li {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px; }

.nav a {
  position: relative;
  display: block; }
  .nav a:before, .nav a:after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s; }
  .nav a:before {
    left: 50%; }
  .nav a:after {
    right: 50%; }
  .nav a:hover:before, .nav a:hover:after {
    width: 100%; }
  .nav a:hover:before {
    left: 0; }
  .nav a:hover:after {
    right: 0; }

.packs {
  padding-top: 58px;
  padding-bottom: 63px;
  background: url("../../img/bg/map.png") no-repeat center -5px, #f5f5f5; }
  .packs__title {
    margin-bottom: 71px; }
  .packs__list {
    margin-left: -14px;
    margin-right: -14px; }
  .packs__item {
    background-color: #fff;
    width: -webkit-calc(33.333% - 28px);
    width: calc(33.333% - 28px);
    margin-left: 14px;
    margin-right: 14px;
    padding: 30px 50px 40px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.03);
            box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.03); }
    .packs__item_big {
      padding-top: 48px;
      padding-bottom: 58px;
      -webkit-box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.2);
              box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.2); }
  .packs__subtitle {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 27px; }
    .packs__subtitle_red {
      color: #f10f15; }
  .packs__data {
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 43px; }
    .packs__data li {
      display: block;
      font-size: 18px;
      text-align: justify;
      -moz-text-align-last: center;
           text-align-last: center;
      border-bottom: 1px solid #cbcbcb; }
      .packs__data li:last-of-type {
        margin-bottom: 0; }
  .packs__desc {
    color: #717171;
    text-align: center;
    margin-bottom: 32px; }
  .packs__price {
    text-align: center;
    margin-bottom: 21px; }
    .packs__price-old {
      text-decoration: line-through;
      color: #9b9b9b;
      font-size: 10px; }
      .packs__price-old span {
        font-size: 18px; }
    .packs__price-new {
      font-size: 18px;
      font-weight: 700;
      line-height: 28px; }
      .packs__price-new span {
        font-size: 36px; }
      .packs__price-new_red span {
        color: #f10f15; }
  .packs__btn {
    font-weight: 600; }

.brand {
  padding-top: 57px;
  padding-bottom: 56px;
  background-color: #e9e9e9; }
  .brand__text {
    max-width: 450px;
    padding-top: 40px; }
  .brand__img {
    max-width: -webkit-calc(100% - 450px);
    max-width: calc(100% - 450px); }

.text {
  line-height: 24px; }
  .text p {
    text-indent: 30px; }

.about {
  padding-top: 59px;
  margin-bottom: -75px; }
  .about__title {
    margin-bottom: 67px; }
  .about__img {
    max-width: -webkit-calc(100% - 440px);
    max-width: calc(100% - 440px); }
    .about__img img {
      margin-left: auto;
      margin-right: -12px;
      margin-top: -12px; }
  .about__text {
    max-width: 440px; }
  .about__list {
    margin-top: 41px; }
  .about__item {
    width: -webkit-calc(25% - 28px);
    width: calc(25% - 28px);
    margin-left: 14px;
    margin-right: 14px;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.03);
            box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.03);
    padding: 20px 10px 42px; }
    .about__item-count {
      font-size: 36px;
      font-weight: 700;
      color: #f10f15;
      margin-bottom: 12px; }
    .about__item-text {
      max-width: 170px;
      margin-left: auto;
      margin-right: auto; }

.reviews {
  padding-top: 131px;
  overflow: hidden;
  background: url("../../img/bg/map-big.png") no-repeat center -176px, #f5f5f5; }
  .reviews__title {
    margin-bottom: 28px; }
  .reviews__list {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 70px !important; }
    .reviews__list .slick-dots {
      text-align: center;
      z-index: 1;
      bottom: 0; }
      .reviews__list .slick-dots li {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: 0 4.5px; }
        .reviews__list .slick-dots li.slick-active button {
          background-color: #f10f15; }
        .reviews__list .slick-dots li button {
          width: 16px;
          height: 16px;
          padding: 0;
          background: #ffffff;
          -webkit-transition: .3s;
          transition: .3s;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
          .reviews__list .slick-dots li button:before {
            display: none; }
  .reviews__item {
    padding: 30px 50px 54px; }
  .reviews__wrap {
    -webkit-box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.15);
            box-shadow: 3px 4px 29px rgba(0, 0, 0, 0.15);
    background-color: #fcfcfc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-align: center;
    padding: 14px 15px 29px; }
  .reviews__img {
    margin-bottom: 10px; }
    .reviews__img img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 10px solid #eeeeee;
      margin-left: auto;
      margin-right: auto; }
  .reviews__text {
    margin-bottom: 22px; }
  .reviews__company {
    font-weight: 700; }

.logos {
  font-size: 0;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px; }
  .logos__item {
    display: inline-block;
    vertical-align: middle;
    height: 125px;
    line-height: 125px;
    width: -webkit-calc(100% / 8);
    width: calc(100% / 8);
    padding: 3px 15px;
    margin-bottom: 15px; }
    .logos__item img {
      display: inline-block;
      vertical-align: middle; }

.questions {
  padding-top: 98px;
  margin-bottom: 50px; }
  .questions__title {
    margin-bottom: 17px; }
  .questions__desc {
    max-width: 585px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 43px; }
  .questions__elements {
    text-align: center;
    margin-bottom: 48px; }
  .questions__input {
    width: 290px; }
  .questions__btn {
    max-width: 220px;
    margin-left: -10px; }
  .questions__input, .questions__btn {
    display: inline-block;
    vertical-align: middle; }
  .questions__all {
    -webkit-box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 270px;
    font-weight: 700; }

.partners__list {
  font-size: 0;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px; }

.partners__item {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 70px;
  line-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px; }
  .partners__item img {
    display: inline-block;
    vertical-align: middle; }

.copy {
  margin-top: 45px;
  text-align: center;
  line-height: 24px; }

.footer {
  background-color: #fcfcfc;
  padding-bottom: 30px; }

.popup {
  display: none;
  width: 400px;
  background-color: #f5f5f5;
  padding: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .popup__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px; }
  .popup__input {
    margin-bottom: 10px; }
  .popup__btn {
    margin-top: 20px;
    font-weight: 700; }
  .popup__desc {
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px; }

@-webkit-keyframes scrollMove {
  form {
    top: 5px; }
  60% {
    top: 10px; }
  to {
    top: 5px; } }

@keyframes scrollMove {
  form {
    top: 5px; }
  60% {
    top: 10px; }
  to {
    top: 5px; } }
